/*
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.sidebar-link {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.sidebar-link:hover {
  text-decoration: none;
  color: #ffffff;
}

.offcanvas-body {
  background-color: #7F6DF2;
}

.offcanvas-header {
  background-color: #7F6DF2;
}

.offcanvas-title {
  font-family: 'Roboto', sans-serif;
  color: white;
}
*/